################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoGraphQL/DemoGraphQL/obj/Debug
/DemoGraphQL/.vs/DemoGraphQL/FileContentIndex
/DemoGraphQL/.vs/DemoGraphQL/v17/.suo
/DemoGraphQL/.vs/DemoGraphQL/v17/DocumentLayout.json
