<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="GitHub_Account" value="your_github_account" />
		<add key="GitHub_Personal_Token" value="your_github_personal_token" />
	</appSettings>
</configuration>